# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

In [32]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [33]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
# YOUR CODE HERE
vacation_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,69.7008,170.3133,28.42,95,100,30.24
1,1,Yellowknife,CA,62.4560,-114.3525,50.56,57,40,10.36
2,2,Skjervoy,NO,70.0311,20.9714,48.20,88,100,21.68
3,3,Auch,FR,43.6500,0.5833,65.34,81,39,3.18
4,4,Killybegs,IE,54.6333,-8.4500,56.91,85,100,25.41

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [34]:
# In case of an empty DataFrame, load the sample data provided
vacation_df = pd.read_csv("WeatherPy_vacation-backup.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [35]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [36]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [37]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"]=="Jefferson City"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Jefferson City"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Marshalltown"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Sioux Falls"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Lincoln"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [90]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame([vacation_start["Lat"], vacation_start["Lng"]]).to_numpy()
end =  pd.DataFrame([vacation_end["Lat"], vacation_end["Lng"]]).to_numpy()
stop1 =  pd.DataFrame([vacation_stop1["Lat"], vacation_stop1["Lng"]]).to_numpy()
stop2 =  pd.DataFrame([vacation_stop2["Lat"], vacation_stop2["Lng"]]).to_numpy()
stop3 =  pd.DataFrame([vacation_stop3["Lat"], vacation_stop3["Lng"]]).to_numpy()

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [91]:
# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
start = (38.58, -92.17)
end = (38.58, -92.17)
stop1 = (42.05, -92.91)
stop2 = (43.55, -96.7)
stop3 = (40.8, -96.67)
# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, travel_mode="DRIVING", waypoints=[stop1, stop2, stop3])
#Felt like I got close but couldn't get this figured by due date. Will Re-visit
# Add the layer to the map
# YOUR CODE HERE
fig.add_layer(vacation_itinerary)
# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [92]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,637,Jefferson City,US,70.00,broken clouds,38.58,-92.17,DoubleTree by Hilton Hotel Jefferson City
1,402,Marshalltown,US,73.99,clear sky,42.05,-92.91,Best Western Regency Inn
2,303,Sioux Falls,US,73.00,scattered clouds,43.55,-96.70,Holiday Inn Sioux Falls-City Centre
3,334,Lincoln,US,77.00,light rain,40.80,-96.67,Courtyard by Marriott Lincoln Downtown/Haymarket

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [93]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [94]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
# YOUR CODE HERE
fig.add_layer(marker_layer)
# Display the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))